
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span>
            Tổng quan
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                 
                    <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Bán trong tuần</h4>
                    <h2 class="mb-5 card-price">150,000,000 VNĐ</h2>
                    <h6 class="card-text">Tăng 60%</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">
                        Đơn đặt hàng trong tuần
                    </h4>
                    <h2 class="mb-5 card-price">45,6334</h2>
                    <h6 class="card-text">Giảm 10%</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">
                        Khách truy cập trực tuyến
                    </h4>
                    <h2 class="mb-5 card-price">95,5741</h2>
                    <h6 class="card-text">Tăng 5%</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <h4 class="card-title float-left">Sản phẩm bán chạy</h4>
                        <div id="visit-sale-chart-legend"
                             class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dữ liệu bán hàng</h4>
                    <canvas id="traffic-chart"></canvas>
                    <div id="traffic-chart-legend"
                         class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Theo dõi đơn hàng</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Mô tả</th>
                                    <th>Trạng thái</th>
                                    <th>Danh mục sản phẩm</th>
                                    <th>Ngày</th>
                                    <th>Mã hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="assets/img/product1.1.png"
                                             class="me-2"
                                             alt="image" />
                                        Alcoholicity
                                    </td>
                                    <td>Sản phẩm mô tả</td>
                                    <td>
                                        <label class="badge badge-gradient-success">Đang đóng gói</label>
                                    </td>
                                    <td>Dec 5, 2017</td>
                                    <td>WD-12345</td>
                                    <td>SP03</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="assets/img/product1.2.png"
                                             class="me-2"
                                             alt="image" />
                                        Bellini
                                    </td>
                                    <td>Sản phẩm mô tả</td>
                                    <td>
                                        <label class="badge badge-gradient-warning">Đang chờ xác nhận</label>
                                    </td>
                                    <td>Dec 12, 2017</td>
                                    <td>WD-12346</td>
                                    <td>SP01</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="assets/img/product10.1.png"
                                             class="me-2"
                                             alt="image" />
                                        Martini
                                    </td>
                                    <td>Sản phẩm mô tả</td>
                                    <td>
                                        <label class="badge badge-gradient-info">Đang giao hàng</label>
                                    </td>
                                    <td>Dec 16, 2017</td>
                                    <td>WD-12347</td>
                                    <td>SP02</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



