@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CHIC_CHARM2.Models.Sanpham

@{
    ViewData["Title"] = "Themsanpham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div>
        <h1 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-chevron-double-right"></i>
            </span>
            Thêm sản phẩm
        </h1>
    </div>

    <div class="row">
        <div class="modal-body">

        <form method="post" asp-action="Themsanpham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Masp" class="control-label">Mã sản phẩm</label>
                <input asp-for="Masp" class="form-control" />
                <span asp-validation-for="Masp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tensp" class="control-label">Tên sản phẩm</label>
                <input asp-for="Tensp" class="form-control" />
                <span asp-validation-for="Tensp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label">Đơn giá</label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Tinhtrang" class="control-label">Tình trạng</label>
                <input asp-for="Tinhtrang" class="form-control" />
                <span asp-validation-for="Tinhtrang" class="text-danger"></span>
             
            </div>
          
            <div class="form-group">
                <label asp-for="Madm" class="control-label">Danh mục</label>
                <select asp-for="Madm" class="form-control" asp-items="ViewBag.Madm"></select>
                <span asp-validation-for="Madm" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Mota" class="control-label">Mô tả ngắn</label>
                    <input   asp-for="Mota" class="form-control" />
                    <span asp-validation-for="Mota" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Hinhchinh" class="control-label">Hình ảnh</label>
                    <input asp-for="Hinhchinh" type="file" class="form-control" id="productImage" />

                    <span asp-validation-for="Hinhchinh" class="text-danger"></span>
                </div>

                <div class="form-group" style="display: flex; justify-content: center; gap: 10px;">
                    <input type="submit"  value="Thêm" class=" btn btn-sm btn-edit" />
           </div>
               
                <div class="form-group" style="display: flex; justify-content: center; gap: 10px;">
                    <a class=" btn btn-sm btn-edit" asp-action="Quanlysanpham">Quay về</a>
                </div>

        </form>
    </div>
  
    
</div>
    </div>





